@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('./app.css');

:root {
    font-size: 16px;
    --body-bg: #202020;
    --bg1: #232323;
    --bg2: #292929;
    --bg3: #333333;
    --body-fg: #f0f0f0;
    --fg1: #808080;
    --fg2: #909090;
    --fg3: #a0a0a0;

    --prime: #7cc22b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: var(--body-bg);
    color: var(--body-fg);
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
}