@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dark {
    background-color: #202020;
    color: #efefef;
}

#clock {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
    color: 202020;
}

#time {
    display: flex;
    gap: 0.2rem
}

#time span {
    font-size: 3rem;
}

#time #ampm {
    font-size: 1.5rem;
}

#date {
    display: flex;
    gap: 0.2rem
}